$("#btcUsd").text("$#{@btcUsd}");
$("#usdBtc").text("$#{@usdBtc}");
$("#ethUsd").text("$#{@ethUsd}");
$("#usdEth").text("$#{@usdEth}");
$("#adaUsd").text("$#{@adaUsd}");
$("#usdAda").text("$#{@usdAda}");